.status-bar {
  position: sticky;
  /* 밑 Friends와 겹치는 현상을 postition: fixed에서 sticky로 바꾸니 해결됨 */
  display: flex;
  top: 0;
  width: 100%;
  /* 부모의 너비를 100퍼센트 받는다 */
  box-sizing: border-box;
  /* 박스의 크리를 어떤 것을 기준으로 계산할지.. border-box는 테두리를 기준 */
  justify-content: center;
  padding: 5px 2px;
}

.status-bar__column {
  width: 33%;
}
.status-bar__column:first-child span {
  margin-right: 5px;
}
.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.status-bar__column .fa-battery-half {
  margin: 0px 5px;
}
